{{>navbar}}
<div class="container w-50 mt-2 p-4 align-items-center">
    <h1 class="text-light text-center mb-3 p-4">Agregar productos Nuevos</h1>
    <div class="d-flex flex-column align-items-center">
        <div>
            {{#if product}}
            <div class="text-center">
            <h1 class="text-light">Producto agregado</h1>
            <h5 class="text-success">Exitosamente</h5>
            </div>
            {{else}}
            <form action="/api/products/" method="POST" >
                <div class="form-floating mb-3">
                    <input type="name" name="name" class="form-control" id="floatingInput" placeholder="Nombre del producto" required> 
                    <label for="floatingInput">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="description" class="form-control" id="floatingInput" placeholder="Breve descripcion" required> 
                    <label for="floatingInput">Descripcion</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="price" class="form-control" id="floatingInput" placeholder="$ (Valor del producto)" required> 
                    <label for="floatingInput">Precio</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="category" class="form-control" id="floatingInput" placeholder="Ej: Veladores/Percheros" required> 
                    <label for="floatingInput">Categoria</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="thumbnail" class="form-control" id="floatingInput" placeholder="Elegi tu foto"> 
                    <label for="floatingInput">Link de la imagen</label>
                </div>
                <button type="submit" class="btn btn-warning mt-3 container">Guardar Producto</button>
            </form>
            {{/if}}
        </div>
    </div>
</div>
